In [1]:
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", None) # MUESTRA TODAS LAS COLUNAS DE UN PANDAS DATAFRAME
from fastapi import FastAPI
import sklearn

In [2]:
df1= pd.read_csv(r'C:movies_dataset.csv', sep=',')
df2= pd.read_csv(r'C:credits.csv',sep=',')
movies_dataset= pd.concat([df1, df2], axis=1)
movies_dataset.head()

C:\Users\pc\AppData\Local\Temp\ipykernel_20644\299317481.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df1= pd.read_csv(r'C:movies_dataset.csv', sep=',')

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew,id
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [3]:
#Revisar campos con valores nulos
movies_dataset.isna().sum()

adult                       10
belongs_to_collection    40982
budget                      10
genres                      10
homepage                 37694
id                          10
imdb_id                     27
original_language           21
original_title              10
overview                   964
popularity                  15
poster_path                396
production_companies        13
production_countries        13
release_date                97
revenue                     16
runtime                    273
spoken_languages            16
status                      97
tagline                  25064
title                       16
video                       16
vote_average                16
vote_count                  16
cast                         0
crew                         0
id                           0
dtype: int64

In [4]:
# Rellenar los valores nulos en los campos 'revenue' y 'budget' con 0
movies_dataset['revenue'].fillna(0, inplace=True)
movies_dataset['budget'].fillna(0, inplace=True)

In [5]:
# Eliminar filas con valores nulos en 'release date'
movies_dataset.dropna(subset=['release_date'], inplace=True)

In [6]:
#Revisar que no haya valores nulos
movies_dataset.isna().sum()

adult                        0
belongs_to_collection    40888
budget                       0
genres                       0
homepage                 37610
id                           0
imdb_id                     14
original_language           11
original_title               0
overview                   941
popularity                   2
poster_path                339
production_companies         0
production_countries         0
release_date                 0
revenue                      0
runtime                    249
spoken_languages             3
status                      83
tagline                  24981
title                        3
video                        3
vote_average                 3
vote_count                   3
cast                         0
crew                         0
id                           0
dtype: int64

In [7]:
movies_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45379 entries, 0 to 45465
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45379 non-null  object
 1   belongs_to_collection  4491 non-null   object
 2   budget                 45379 non-null  object
 3   genres                 45379 non-null  object
 4   homepage               7769 non-null   object
 5   id                     45379 non-null  object
 6   imdb_id                45365 non-null  object
 7   original_language      45368 non-null  object
 8   original_title         45379 non-null  object
 9   overview               44438 non-null  object
 10  popularity             45377 non-null  object
 11  poster_path            45040 non-null  object
 12  production_companies   45379 non-null  object
 13  production_countries   45379 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45379 non-null  float64
 16  runtime                45130 non-null  float64
 17  spoken_languages       45376 non-null  object
 18  status                 45296 non-null  object
 19  tagline                20398 non-null  object
 20  title                  45376 non-null  object
 21  video                  45376 non-null  object
 22  vote_average           45376 non-null  float64
 23  vote_count             45376 non-null  float64
 24  cast                   45379 non-null  object
 25  crew                   45379 non-null  object
 26  id                     45379 non-null  int64
dtypes: float64(4), int64(1), object(22)
memory usage: 9.7+ MB

In [8]:
# Eliminar las columnas no deseadas
columnas_no_deseadas = ['video', 'imdb_id', 'adult', 'original_title', 'poster_path', 'homepage']
movies_dataset.drop(columnas_no_deseadas, axis=1, inplace=True)

In [9]:
movies_dataset.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,id
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [10]:
# Convertir la columna 'release date' a tipo de datos de fecha
movies_dataset['release_date'] = pd.to_datetime(movies_dataset['release_date'], errors='coerce')

# Formatear las fechas en el formato 'AAAA-mm-dd'
movies_dataset['release _date'] = movies_dataset['release_date'].dt.strftime('%Y-%m-%d')

In [11]:
# Crear la columna 'release_year' a partir del año de la fecha de estreno
movies_dataset['release_year'] = movies_dataset['release_date'].dt.strftime('%Y')

In [49]:
movies_dataset.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,id,release _date,release_year
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,1995-10-30,1995
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,1995-12-15,1995
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,1995-12-22,1995
3,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,1995-12-22,1995
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,1995-02-10,1995

In [50]:
movies_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45379 entries, 0 to 45465
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4491 non-null   object
 1   budget                 45379 non-null  object
 2   genres                 45379 non-null  object
 3   id                     45379 non-null  object
 4   original_language      45368 non-null  object
 5   overview               44438 non-null  object
 6   popularity             45377 non-null  object
 7   production_companies   45379 non-null  object
 8   production_countries   45379 non-null  object
 9   release_date           45376 non-null  datetime64[ns]
 10  revenue                45379 non-null  float64
 11  runtime                45130 non-null  float64
 12  spoken_languages       45376 non-null  object
 13  status                 45296 non-null  object
 14  tagline                20398 non-null  object
 15  title                  45376 non-null  object
 16  vote_average           45376 non-null  float64
 17  vote_count             45376 non-null  float64
 18  cast                   45379 non-null  object
 19  crew                   45379 non-null  object
 20  id                     45379 non-null  int64
 21  release _date          45376 non-null  object
 22  release_year           45376 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(1), object(17)
memory usage: 8.3+ MB

In [51]:
# Convertir las columnas 'revenue' y 'budget' a tipo numérico
movies_dataset['revenue'] = pd.to_numeric(movies_dataset['revenue'], errors='coerce')
movies_dataset['budget'] = pd.to_numeric(movies_dataset['budget'], errors='coerce')

# Crear la columna 'return' con el cálculo del retorno de inversión y tratar los valores de cero
movies_dataset['return'] = np.where(
    (movies_dataset['budget'] == 0) | (movies_dataset['revenue'] == 0),
    0,  # Valor predeterminado para los casos en los que budget o revenue sea cero
    movies_dataset['revenue'] / movies_dataset['budget']
)

In [52]:
movies_dataset.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,id,release _date,release_year,return
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,1995-10-30,1995,12.451801
1,NaN,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,1995-12-15,1995,4.043035
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,1995-12-22,1995,0.000000
3,NaN,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,1995-12-22,1995,5.090760
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0.0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,1995-02-10,1995,0.000000

In [15]:
movies_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45379 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4491 non-null   object
 1   budget                 45376 non-null  float64
 2   genres                 45379 non-null  object
 3   id                     45379 non-null  object
 4   original_language      45368 non-null  object
 5   overview               44438 non-null  object
 6   popularity             45377 non-null  object
 7   production_companies   45379 non-null  object
 8   production_countries   45379 non-null  object
 9   release_date           45376 non-null  datetime64[ns]
 10  revenue                45379 non-null  float64
 11  runtime                45130 non-null  float64
 12  spoken_languages       45376 non-null  object
 13  status                 45296 non-null  object
 14  tagline                20398 non-null  object
 15  title                  45376 non-null  object
 16  vote_average           45376 non-null  float64
 17  vote_count             45376 non-null  float64
 18  cast                   45379 non-null  object
 19  crew                   45379 non-null  object
 20  id                     45379 non-null  int64
 21  release _date          45376 non-null  object
 22  release_year           45376 non-null  object
 23  return                 45379 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(1), object(16)
memory usage: 8.7+ MB

In [53]:
movies_dataset.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,id,release _date,release_year,return
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,1995-10-30,1995,12.451801
1,NaN,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,1995-12-15,1995,4.043035
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,1995-12-22,1995,0.000000
3,NaN,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,1995-12-22,1995,5.090760
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0.0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,1995-02-10,1995,0.000000

In [54]:
# Eliminar la primera columna "release date"
movies_dataset.drop('release_date', axis=1, inplace=True)

In [55]:


# Convertir la columna 'belongs_to_collection' en formato de diccionario
movies_dataset['belongs_to_collection'] = movies_dataset['belongs_to_collection'].apply(lambda x: eval(x) if pd.notnull(x) else {})
movies_dataset['genres'] = movies_dataset['genres'].apply(lambda x: eval(x) if pd.notnull(x) else {})
movies_dataset['spoken_languages'] = movies_dataset['spoken_languages'].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) else [])
movies_dataset['production_companies'] = movies_dataset['production_companies'].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) and isinstance(x, str) else [])
movies_dataset['production_countries'] = movies_dataset['production_countries'].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) else [])
movies_dataset['cast'] = movies_dataset['cast'].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) else [])
movies_dataset['crew'] = movies_dataset['crew'].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) else [])

# Desanidar 
df_production_countries = movies_dataset['production_countries'].apply(lambda x: [country['name'] for country in x] if isinstance(x, list) else [])
df_belongs_to_collection = movies_dataset['belongs_to_collection'].apply(lambda x: x.get('name', '').replace(' Collection', '') if isinstance(x, dict) else '')
df_genres = movies_dataset['genres'].apply(lambda x: [genre['name'] for genre in x])
df_spoken_languages = movies_dataset['spoken_languages'].apply(lambda x: [lang['name'] for lang in x])
df_production_companies = movies_dataset['production_companies'].apply(lambda x: [prod['name'] for prod in x] if isinstance(x, list) else [])
df_cast = movies_dataset['cast'].apply(lambda x: [(item['character'], item['name']) for item in x])
df_crew = movies_dataset['crew'].apply(lambda x: [(item['department'], item['name']) for item in x])
df_directors = movies_dataset['crew'].apply(lambda x: [item['name'] for item in x if item['department'] == 'Directing'])

duplicated_columns = ['belongs_to_collection', 'genres', 'spoken_languages', 'production_companies', 'production_countries', 'cast', 'crew']

# Crear el DataFrame df_movies con las columnas desanidadas y las demás columnas del dataset original
df_movies = pd.concat([df_belongs_to_collection, df_genres, df_spoken_languages, df_production_companies, df_production_countries, df_cast, df_crew.rename('crew'), df_directors.rename('directors'), movies_dataset.drop(columns=duplicated_columns)], axis=1)

In [56]:
df_movies.head()

,belongs_to_collection,genres,spoken_languages,production_companies,production_countries,cast,crew,directors,budget,id,original_language,overview,popularity,revenue,runtime,status,tagline,title,vote_average,vote_count,id,release _date,release_year,return
0,Toy Story,"[Animation, Comedy, Family]",[English],[Pixar Animation Studios],[United States of America],"[(Woody (voice), Tom Hanks), (Buzz Lightyear (...","[(Directing, John Lasseter), (Writing, Joss Wh...","[John Lasseter, Roman Figun, Desirée Mourad]",30000000.0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,373554033.0,81.0,Released,NaN,Toy Story,7.7,5415.0,862,1995-10-30,1995,12.451801
1,,"[Adventure, Fantasy, Family]","[English, Français]","[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],"[(Alan Parrish, Robin Williams), (Samuel Alan ...","[(Production, Larry J. Franco), (Writing, Jona...",[Joe Johnston],65000000.0,8844,en,When siblings Judy and Peter discover an encha...,17.015539,262797249.0,104.0,Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,8844,1995-12-15,1995,4.043035
2,Grumpy Old Men,"[Romance, Comedy]",[English],"[Warner Bros., Lancaster Gate]",[United States of America],"[(Max Goldman, Walter Matthau), (John Gustafso...","[(Directing, Howard Deutch), (Writing, Mark St...",[Howard Deutch],0.0,15602,en,A family wedding reignites the ancient feud be...,11.7129,0.0,101.0,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,15602,1995-12-22,1995,0.000000
3,,"[Comedy, Drama, Romance]",[English],[Twentieth Century Fox Film Corporation],[United States of America],"[(Savannah 'Vannah' Jackson, Whitney Houston),...","[(Directing, Forest Whitaker), (Writing, Ronal...",[Forest Whitaker],16000000.0,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,81452156.0,127.0,Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,31357,1995-12-22,1995,5.090760
4,Father of the Bride,[Comedy],[English],"[Sandollar Productions, Touchstone Pictures]",[United States of America],"[(George Banks, Steve Martin), (Nina Banks, Di...","[(Sound, Alan Silvestri), (Camera, Elliot Davi...",[Charles Shyer],0.0,11862,en,Just when George Banks has recovered from his ...,8.387519,76578911.0,106.0,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,11862,1995-02-10,1995,0.000000

In [148]:
spoken_languages = df_movies['spoken_languages'].values
print(spoken_languages)

[list(['English']) list(['English', 'Français']) list(['English']) ...
 list(['English']) list([]) list(['English'])]

In [149]:
movie_title = 'The City of Lost Children'
spoken_languages = df_movies.loc[df_movies['title'] == movie_title, 'spoken_languages'].values
print(spoken_languages)

[list(['广州话 / 廣州話', 'Français'])]

In [57]:
df_movies.to_csv('nombre_archivo.csv', index=False)

In [147]:
import os
current_directory = os.getcwd()
print(current_directory)

c:\Users\pc\Desktop\Proyecto 1

FUNCIONES

In [12]:
from fastapi import FastAPI
app = FastAPI()

@app.get('/peliculas_idioma')
def peliculas_idioma(idioma: str):
    cantidad = len(df_movies[df_movies['original_language'] == idioma])
    return f"{cantidad} películas fueron producidas en {idioma}"

In [54]:
peliculas_idioma('en')

'32202 películas fueron producidas en en'

In [55]:
@app.get('/peliculas_duracion')
def peliculas_duracion(pelicula: str):
    pelicula = df_movies[df_movies['title'] == pelicula]
    if len(pelicula) > 0:
        duracion = pelicula['runtime'].values[0]
        anio = pelicula['release_year'].values[0]
        return f"{pelicula['title'].values[0]}. Duración: {duracion}. Año: {anio}"
    else:
        return f"No se encontró la película '{pelicula}'"

In [56]:
peliculas_duracion('Jumanji')

'Jumanji. Duración: 104.0. Año: 1995'

In [25]:
@app.get('/franquicia')
def franquicia(franquicia: str):
    peliculas = df_movies[df_movies['belongs_to_collection'] == franquicia]
    cantidad_peliculas = len(peliculas)
    ganancia_total = peliculas['revenue'].sum()
    ganancia_promedio = peliculas['revenue'].mean()
    
    return f"La franquicia '{franquicia}' posee {cantidad_peliculas} película(s), una ganancia total de {ganancia_total} y una ganancia promedio de {ganancia_promedio}"

In [26]:
franquicia('Harry Potter')

"La franquicia 'Harry Potter' posee 8 película(s), una ganancia total de 7707367425.0 y una ganancia promedio de 963420928.125"

In [62]:
@app.get('/peliculas_pais')
def peliculas_pais(pais: str):
    peliculas = df_movies[df_movies['production_countries'].apply(lambda x: pais in str(x))]
    cantidad_peliculas = len(peliculas)
    
    return f"Se produjeron {cantidad_peliculas} película(s) en el país '{pais}'"

In [63]:
peliculas_pais('United States of America')

"Se produjeron 21147 película(s) en el país 'United States of America'"

In [37]:
@app.get('/productoras_exitosas')
def productoras_exitosas(productora: str):
    peliculas = df_movies[df_movies['production_companies'].apply(lambda x: isinstance(x, list) and productora in x)]
    cantidad_peliculas = len(peliculas)
    revenue_total = peliculas['revenue'].sum()

    return f"La productora '{productora}' ha tenido un revenue de {revenue_total} y ha realizado {cantidad_peliculas} película(s)"

In [32]:
productoras_exitosas('Warner Bros.')

"La productora 'Warner Bros.' ha tenido un revenue de 63525187272.0 y ha realizado 1250 película(s)"

In [29]:
@app.get('/get_director')
def get_director(nombre_director):
    movies_list = []
    total_return = 0
    count = 0

    for _, movie in df_movies.iterrows():
        directors = movie['directors']

        if nombre_director in directors:
            title = movie['title']
            release_date = movie['release _date']
            individual_return = movie['return']
            costo = movie['budget']
            ganancia = movie['revenue']

            movie_details = {
                'title': title,
                'release _date': release_date,
                'individual_return': individual_return,
                'costo': costo,
                'ganancia': ganancia
            }

            total_return += individual_return
            count += 1

            movies_list.append(movie_details)

    exito_director = total_return / count if count > 0 else 0
    movies_list.insert(0, {'exito_director': exito_director})

    return movies_list

In [30]:
get_director('Joe Johnston')

[{'exito_director': 2.0679023729121866},
 {'title': 'Jumanji',
  'release _date': '1995-12-15',
  'individual_return': 4.0430346,
  'costo': 65000000.0,
  'ganancia': 262797249.0},
 {'title': 'The Pagemaster',
  'release _date': '1994-11-23',
  'individual_return': 0.5063217777777778,
  'costo': 27000000.0,
  'ganancia': 13670688.0},
 {'title': 'Honey, I Shrunk the Kids',
  'release _date': '1989-06-22',
  'individual_return': 6.960130375,
  'costo': 32000000.0,
  'ganancia': 222724172.0},
 {'title': 'The Rocketeer',
  'release _date': '1991-06-21',
  'individual_return': 1.4761904761904763,
  'costo': 42000000.0,
  'ganancia': 62000000.0},
 {'title': 'October Sky',
  'release _date': '1999-02-19',
  'individual_return': 0.0,
  'costo': 0.0,
  'ganancia': 0.0},
 {'title': 'Jurassic Park III',
  'release _date': '2001-07-18',
  'individual_return': 3.9653850430107527,
  'costo': 93000000.0,
  'ganancia': 368780809.0},
 {'title': 'Hidalgo',
  'release _date': '2004-03-05',
  'individual_return': 1.0810345,
  'costo': 100000000.0,
  'ganancia': 108103450.0},
 {'title': 'The Wolfman',
  'release _date': '2010-02-11',
  'individual_return': 0.0,
  'costo': 150000000.0,
  'ganancia': 0.0},
 {'title': 'Captain America: The First Avenger',
  'release _date': '2011-07-22',
  'individual_return': 2.646926957142857,
  'costo': 140000000.0,
  'ganancia': 370569774.0},
 {'title': 'City That Never Sleeps',
  'release _date': '1953-06-12',
  'individual_return': 0.0,
  'costo': 0.0,
  'ganancia': 0.0}]

In [35]:
@app.get('/productoras_exitosas')
def productoras_exitosas(productora: str):
    peliculas = df_movies[df_movies['production_companies'].str.contains(productora, na=False)]
    cantidad_peliculas = len(peliculas)
    revenue_total = peliculas['revenue'].sum()

    return f"La productora '{productora}' ha tenido un revenue de {revenue_total} y ha realizado {cantidad_peliculas} película(s)"

In [36]:
productoras_exitosas('Warner Bros.')

"La productora 'Warner Bros.' ha tenido un revenue de 0.0 y ha realizado 0 película(s)"

In [1]:
import os
print(os.getcwd())

c:\Users\pc\Desktop\Proyecto 1